<div class="mat-elevation-z0">
  <!--  <div class="table-header">-->
  <!--    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">-->
  <!--  </div>-->
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of columns; trackBy: trackByFn" [matColumnDef]="column.clave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.valor | titlecase }}</th>

      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isHtml(element[column.clave]); else textTemplate">
          <span [innerHTML]="sanitizeHtml(element[column.clave])"></span>
        </ng-container>
        <ng-template #textTemplate>
          @if (column.tipo === 'fecha') {
            {{ element[column.clave] | date:'dd/MM/yyyy HH:mm:ss a' }}
          } @else if (column.tipo == 'boleano') {
            {{ element[column.clave] ? 'Activo' : 'Inactivo' }}
          } @else {
            {{ isObject(element[column.clave]) ? element[column.clave].nombre : element[column.clave] }}
          }

        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let action of actions">
          <button mat-icon-button *ngIf="element.activo && action.icon !== 'restore_from_trash'"
                  (click)="action.callback(element)">
            <mat-icon class="mat-icon-round" [matTooltip]="action.tooltipText">{{ action.icon }}</mat-icon>
          </button>
          <button mat-icon-button *ngIf="!element.activo && action.icon === 'restore_from_trash'"
                  (click)="action.callback(element)">
            <mat-icon class="mat-icon-round" [matTooltip]="action.tooltipText">{{ action.icon }}</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  @if (totalRecords) {
    <mat-paginator
      appStylePaginator
      showFirstLastButtons
      [totalRecords]="totalRecords"
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 20, 30]"
      (page)="handlePageChange($event)"
    ></mat-paginator>
  }
</div>
