@import "variables";
.table-container {
  overflow-x: auto; /* Activa el scroll horizontal */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

table {
  min-width: 100%; /* Ajusta este valor según la cantidad de columnas */
}

/* Estilo general para navegadores WebKit (Chrome, Safari) */
.table-container::-webkit-scrollbar {
  height: 4px; /* Altura del scrollbar horizontal */
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Fondo del track del scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: $color-primario; /* Color del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #f1f1f1; /* Espaciado entre el scrollbar y el track */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: $color-primario-75; /* Color del scrollbar al pasar el mouse */
}

/* Para navegadores compatibles con scrollbar-color (Firefox) */
.table-container {
  scrollbar-color: $color-primario #f1f1f1; /* Color del thumb y del track */
  scrollbar-width: thin; /* Grosor del scrollbar */
}

.image-preview-table{
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background-color: $color-blanco;
  overflow: hidden;
  margin: 0.5rem 0;
  box-shadow:
    0 1px 5px rgba(0, 0, 0, 0.1),  /* Sombra más clara */
    0 4px 5px rgba(0, 0, 0, 0.1), /* Sombra intermedia */
    0 4px 10px rgba(0, 0, 0, 0.1);   /* Sombra más oscura */
  transition: box-shadow 0.3s ease;
  img{
    width: inherit;
    height: inherit;
    border-radius: 0.25rem;
  }
}
