<div class="table-container mat-elevation-z0">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container *ngFor="let column of columns; trackBy: trackByFn" [matColumnDef]="column.clave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.valor | titlecase }}</th>

      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="isHtml(element[column.clave]); else textTemplate">
          <span [innerHTML]="sanitizeHtml(element[column.clave])"></span>
        </ng-container>
        <ng-template #textTemplate>
          @if (column.tipo === 'imagen') {
            <div
              class="image-preview-table"
            >
              <img [src]="element[column.clave].url" alt="Vista previa de la imagen"/>
            </div>
          } @else if (column.tipo === 'fecha') {
            {{ element[column.clave] ? (element[column.clave] | date:'dd-MM-yyyy HH:mm a') : '---' }}
          } @else if (column.tipo == 'boleano') {
            {{ element[column.clave] ? 'Activo' : 'Inactivo' }}
          } @else if (column.tipo == 'moneda') {
            {{ element[column.clave] | currency }}
          } @else if (column.tipo == 'porcentaje') {
            {{ (element[column.clave] / 100) | percent }}
          } @else if (column.tipo == 'password') {
            ******
          } @else {
            @if (isObject(element[column.clave])) {
              {{ element[column.clave].nombre || '---' }}
            } @else {
              {{ element[column.clave] || '---' }}
            }
          }

        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngFor="let action of actions">
          @if (!action?.hideAction?.(row)) {
            <button mat-icon-button (click)="action.callback(row)">
              @if (action.changeColorDefault) {
                <mat-icon
                  class="mat-icon-round"
                  [ngClass]="{'tc-red': !row.activo, 'tc-gray': row.activo}"
                  [matTooltip]="action.tooltipText"
                >
                  {{ row.activo ? action.icon : action.changeIconBy }}
                </mat-icon>
              } @else {
                <mat-icon
                  class="mat-icon-round"
                  [matTooltip]="action.tooltipText"
                >
                  {{ action.icon }}
                </mat-icon>
              }
            </button>
          }
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  @if (totalRecords) {
    <mat-paginator
      appStylePaginator
      showFirstLastButtons
      [totalRecords]="totalRecords"
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 20, 30]"
      (page)="handlePageChange($event)"
    ></mat-paginator>
  }
</div>
