$color-blanco: #ffffff;

$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 1.5rem;
$margin-5: 2rem;

$color-primario: #283593;
$color-primario-2: rgba(40, 53, 147, 0.025);
$color-primario-5: rgba(40, 53, 147, 0.05);
$color-primario-10: rgba(40, 53, 147, 0.1);
$color-primario-25: rgba(40, 53, 147, 0.25);
$color-primario-50: rgba(40, 53, 147, 0.50);
$color-primario-75: rgba(40, 53, 147, 0.75);
$color-gray: #ececec;

$gray-linnegicios: #656568;

.mat-drawer-backdrop.mat-drawer-shown {
  --mat-sidenav-scrim-color: transparent !important;
}
