<ng-container>
  <h4 mat-dialog-title *ngIf="showHeader">{{ titleDialog }}</h4>

  <mat-dialog-content>
    <div [ngClass]="{'contenedor-formulario': true, 'two-column': twoColumn}">
      <ng-container #contenedorDinamico></ng-container>
      <div class="formulario-generico" [ngClass]="{'border-horizontal-right': twoColumn}">
        <ng-container *ngFor="let key of getKeys(forms)">
          <form [formGroup]="forms[key]">
            <div *ngFor="let grupo  of getFields(key)" class="form-container">
              <div *ngFor="let field of grupo" class="{{field.fillColumn}}">
                @if (['text', 'number', 'email', 'tel'].includes(field.type) && !field.visibility) {
                  <mat-form-field appearance="outline"
                                  class="width-content">
                    <mat-label>{{ field.label | uppercase }}</mat-label>
                    <input matInput
                           [type]="field.type"
                           [formControlName]="field.name"
                           (keydown)="onKeydown($event)"
                           [minLength]="field?.minLength || 10000"
                           [maxlength]="field?.maxLenght || 10000"
                           [readonly]="field?.disabled || false"
                    >

                    <!-- Botón para limpiar el campo -->
                    <button *ngIf="(forms[key].get(field.name)?.value && !field?.disabled)"
                            matSuffix mat-icon-button aria-label="Clear"
                            (click)="forms[key].get(field.name)?.setValue(''); clearField(field.name)">
                      <mat-icon>close</mat-icon>
                    </button>
                    <!-- Componente para mostrar mensajes de validación -->
                    <mat-error
                      *ngIf="forms[key].get(field.name)?.invalid && (forms[key].get(field.name)?.dirty || forms[key].get(field.name)?.touched)">
                      <app-form-errors [control]="forms[key].get(field.name)"></app-form-errors>
                    </mat-error>

                  </mat-form-field>
                }

                @if (field.type === 'file' && !field.visibility) {
                  <mat-card class="container-image">
                    <div
                      class="image-preview"
                      *ngIf="imagePreview"
                      (click)="fileInput.click()"
                    >
                      <img [src]="imagePreview" alt="Vista previa de la imagen"/>
                    </div>
                    <div
                      class="content-not-image"
                      *ngIf="!imagePreview"
                      (click)="fileInput.click()"
                    >
                      <div class="content-interno-image">
                        <mat-icon>add_photo_alternate</mat-icon>
                      </div>
                    </div>
                    <div>
                      <button
                        mat-button
                        mat-flat-button
                        (click)="fileInput.click()"
                        class="boton-bg-primario mt-2"
                      >
                        Seleccionar imagen
                      </button>
                      <input
                        #fileInput
                        type="file"
                        accept="image/*"
                        style="display: none"
                        (change)="onImagePicked($event, forms[key],  field.name)"
                      />
                    </div>
                  </mat-card>
                }

                <mat-form-field *ngIf="field.type === 'select' && !field.visibility" class="width-content"
                                appearance="outline">
                  <mat-label>{{ field.label | uppercase }}</mat-label>
                  <mat-select [formControlName]="field.name">
                    <mat-select-trigger>
                      {{ getLabelForValue(field, forms[key].get(field.name)?.value) || 'Selecciona una opción' }}
                    </mat-select-trigger>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="searchControls[field.name]" placeholderLabel="Buscar..."
                                             noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
                    </mat-option>

                    @for (option of filteredOptions[field.name]; track option) {
                      <mat-option [value]="option.value" [innerText]="option.label">{{ option.label }}</mat-option>
                    }
                  </mat-select>
                  <!-- Componente para mostrar mensajes de validación -->
                  <mat-error
                    *ngIf="forms[key].get(field.name)?.invalid && (forms[key].get(field.name)?.dirty || forms[key].get(field.name)?.touched)">
                    <app-form-errors [control]="forms[key].get(field.name)"></app-form-errors>
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="field.type === 'textarea' && !field.visibility" class="width-content"
                                appearance="outline">
                  <mat-label>{{ field.label | uppercase }}</mat-label>
                  <textarea matInput [formControlName]="field.name" placeholder="Escribe aquí"></textarea>
                  <mat-error
                    *ngIf="forms[key].get(field.name)?.invalid && (forms[key].get(field.name)?.dirty || forms[key].get(field.name)?.touched)">
                    <app-form-errors [control]="forms[key].get(field.name)"></app-form-errors>
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="field.type === 'multiselect' && !field.visibility" class="width-content"
                                appearance="outline">
                  <mat-label>{{ field.label | uppercase }}</mat-label>
                  <mat-select [formControlName]="field.name" multiple>
                    <!-- Trigger personalizado para mostrar las opciones seleccionadas -->
                    <mat-select-trigger>
                      {{ filteredOptions[field.name][0].label }}

                      @if ((getSelectedOptions(forms[key].get(field.name)).length || 0) > 1) {
                        <span class="contador_seleccionados">
                    (+{{ (getSelectedOptions(forms[key].get(field.name)).length || 0) - 1 }}
                          {{ getSelectedOptions(forms[key].get(field.name)).length === 2 ? 'mas' : 'mas' }})
                  </span>
                      }
                    </mat-select-trigger>

                    <!-- Campo de búsqueda dentro del selector -->
                    <mat-option>
                      <ngx-mat-select-search
                        [formControl]="searchControls[field.name]"
                        placeholderLabel="Buscar..."
                        noEntriesFoundLabel="No se encontraron resultados">
                      </ngx-mat-select-search>
                    </mat-option>

                    <!-- Opciones filtradas -->
                    <ng-container *ngFor="let option of filteredOptions[field.name]">
                      <mat-option [value]="option.value">
                        {{ option.label }}
                      </mat-option>
                    </ng-container>
                  </mat-select>

                  <!-- Mensajes de validación -->
                  <mat-error
                    *ngIf="forms[key].get(field.name)?.invalid && (forms[key].get(field.name)?.dirty || forms[key].get(field.name)?.touched)">
                    <app-form-errors [control]="forms[key].get(field.name)"></app-form-errors>
                  </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="field.type === 'datepicker' && !field.visibility" class="width-content"
                                appearance="outline">
                  <mat-label>{{ field.label | uppercase }}</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    (focus)="picker.open()"
                    [placeholder]="'DD/MM/YYYY'"
                    [formControlName]="field.name"
                  >
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="field.type === 'timepicker' && !field.visibility" class="width-content"
                                appearance="outline">
                  <mat-label>{{ field.label | uppercase }}</mat-label>
                  <input
                    matInput
                    [ngxTimepicker]="picker"
                    readonly
                    placeholder="Selecciona una hora"
                    [formControlName]="field.name"
                  />
                  <ngx-material-timepicker #picker [format]="24"></ngx-material-timepicker>
                </mat-form-field>

                <mat-slide-toggle *ngIf="field.type === 'toggle' && !field.visibility"
                                  (change)="onCheckboxChange(field.name, $event)"
                                  [formControlName]="field.name">{{ field.label }}
                </mat-slide-toggle>

              </div>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <div class="spacer"></div>
    <button *ngIf="mostrarBotonCancelar" class="boton-bg-primario" mat-stroked-button
            (click)="esFiltro ? onResetFiltros() : onClose()">
      {{ nombreBotonCancelar }}
    </button>
    <button mat-flat-button class="boton-bg-primario" type="submit" [disabled]="!isFormsValid" (click)="onSubmit()">
      {{ data.id ? 'Actualizar' : nombreButtonGuardar }}
    </button>
  </mat-dialog-actions>
</ng-container>
