@import "variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 275px;
  background-color: $color-blanco;
  color: $color-blanco !important;
  border-radius: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $color-primario;
  color: $color-blanco !important;
  mat-icon{
    color: $color-blanco !important;
  }
}

.mat-drawer-side {
  border-style: none;
}

.content {
  padding: 16px;
}

.menu-linnegocios {
  width: 100%;
  font-size: 1rem !important;
  a{
    padding-left: 1.5rem !important;
    height: 50px !important;
    border-radius: 0;
  }
}

.mat-expansion-panel{
  background-color: transparent!important;
  box-shadow: none !important;
  color: $color-blanco !important;
  border-radius: 0 !important;

  .mat-expansion-panel-header{
    &.mat-expanded{
      height: 50px;
    }
    height: 50px;

    .mat-expansion-panel-header-title{
      font-weight: 500 !important;
      font-size: 14px !important;
    }
  }
}

.mat-expansion-panel-spacing {
  margin: 0 0;
}

.mdc-list {
  padding: 0 0;
}

.mat-expansion-panel-content {
  width: 100%;
  .mat-expansion-panel-body {
    padding: 0 2px 16px !important;
    border-radius: 0 !important;
  }
}

.mat-mdc-list-item-unscoped-content .mdc-list-item__primary-text {
  font-size: 12px !important;
}

.mdc-list-item.mdc-list-item--with-one-line {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 12px;
}

.mat-icon-round{
  background-color: #e8e8e8 !important;
  border-radius: 50%;
  padding: 0.5rem;
  color: #706b6b !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-card {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px !important;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 0;
  align-items: center;
  padding: $margin-3;
  color: $gray-linnegicios;
  background-color: $color-primario-2;
  box-shadow: 0 0 0 transparent; /* Sombra suave */

  .mat-mdc-card-header {

    padding: 0 !important;
    font-size: 1rem !important;

    .mat-mdc-card-title{
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      column-gap: 0.5rem;
      font-size: 1.25rem;
    }
  }

  .mat-mdc-card-content{
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    justify-content: start !important;
  }

  .mat-icon-round {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    background-color: $color-primario !important;
    color: $color-blanco !important;
  }

}

.user-photo {
  width: 80px; /* Ancho de la foto */
  height: 80px; /* Alto de la foto */
  border-radius: 50%; /* Bordes redondeados para la foto */
  margin-top: 10px; /* Espacio superior */
}

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que el sidenav ocupe toda la altura */
  overflow: hidden !important;
}

mat-accordion {
  margin-top: 120px !important;

  overflow-y: visible !important; /* Habilita el desplazamiento vertical */
  max-height: calc(100vh - 150px) !important; /* Ajusta la altura máxima según la altura de otros elementos */
}





