<mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
  <mat-sidenav [mode]="isMobileView ? 'over' : 'side'" class="sidenav" #drawer [opened]="!isSidenavOpen">
    <mat-accordion [multi]="false">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Catálogos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="catalogos/pais">País</a>
          <a mat-list-item routerLink="catalogos/estado">Estado</a>
          <a mat-list-item routerLink="catalogos/regimenFiscal">Régimen fiscal</a>
          <a mat-list-item href="#">Tipo de comprobante</a>
          <a mat-list-item href="#">Método de pago</a>
          <a mat-list-item href="#">Tipo de ticket</a>
          <a mat-list-item href="#">Giro comercial</a>
          <a mat-list-item href="#">Tipo de nota</a>
          <a mat-list-item href="#">Tipo de pérdida</a>
          <a mat-list-item href="#">Tipo de crédito</a>
          <a mat-list-item href="#">Tipo de seguimiento</a>
          <a mat-list-item href="#">Estatus de seguimiento</a>
          <a mat-list-item href="#">Impuesto de producto</a>
          <a mat-list-item href="#">Proveedor de facturación</a>
          <a mat-list-item href="#">Unidades de medida</a>
          <a mat-list-item href="#">Metas de activación</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Configuración
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Monedero electrónico</a>
          <a mat-list-item href="#">Cajas</a>
          <a mat-list-item href="#">Credenciales facturación</a>
          <a mat-list-item href="#">Comisión productos elect.</a>
          <a mat-list-item href="#">Variables del sistema</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Empresas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Empresas</a>
          <a mat-list-item href="#">Usuario</a>
          <a mat-list-item href="#">Roles</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Proveedores
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Proveedores</a>
          <a mat-list-item href="#">Compras planeadas</a>
          <a mat-list-item href="#">Compras finalizadas</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Negocio
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Sucursales</a>
          <a mat-list-item href="#">Cajas</a>
          <a mat-list-item href="#">Cajeros</a>
          <a mat-list-item href="#">Tendero</a>
          <a mat-list-item href="#">Comunicados</a>
          <a mat-list-item href="#">Publicidad</a>
          <a mat-list-item href="#">Buzón</a>
          <a mat-list-item href="#">Horarios de soporte</a>
          <a mat-list-item href="#">Historial de chats</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Clientes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Clientes</a>
          <a mat-list-item href="#">Créditos</a>
          <a mat-list-item href="#">Monedero electrónico</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Productos físicos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Categorías</a>
          <a mat-list-item href="#">Marcas</a>
          <a mat-list-item href="#">Productos</a>
          <a mat-list-item href="#">Servicios</a>
          <a mat-list-item href="#">Paquetes/kits</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Productos electrónicos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Credenciales</a>
          <a mat-list-item href="#">Licencias</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Ecommerce
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Repartidores</a>
          <a mat-list-item href="#">Pedidos</a>
          <a mat-list-item href="#">Movitos de cancelación</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Reportes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Ventas</a>
          <a mat-list-item href="#">Facturas</a>
          <a mat-list-item href="#">Existencias mínimas</a>
          <a mat-list-item href="#">Dinero en inventario</a>
          <a mat-list-item href="#">Deudas a proveedor</a>
          <a mat-list-item href="#">Créditos</a>
          <a mat-list-item href="#">Apartados</a>
          <a mat-list-item href="#">Movimientos en caja</a>
          <a mat-list-item href="#">Bosals</a>
          <a mat-list-item href="#">Cortes de caja</a>
          <a mat-list-item href="#">Cortes de inventario</a>
          <a mat-list-item href="#">Monedero electrónico</a>
          <a mat-list-item href="#">Cotización</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mat-icon-round mr-1">home</mat-icon>
            Agentes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Movimientos de saldo</a>
          <a mat-list-item href="#">Saldo de agentes</a>
          <a mat-list-item href="#">Configuración de agentes</a>
          <a mat-list-item href="#">Complimiento de meta</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="appMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Cerrar sesión     {{isSidenavOpen}}

        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>
