<mat-drawer-container class="content-mat-drawer mat-elevation-z2 p-0" [hasBackdrop]="true">
  <mat-card class="bg-blanco content-boxing p-0">
    <mat-card-header class="p-0 bg-blanco border-bottom">
      <mat-toolbar>
        <span>Horarios de soporte</span>
        <div class="spacer"></div>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content class="p-0">
      <app-tabla-generica
        #tablaGenerica
        [columns]="columns"
        [data]="dataList"
        [totalRecords]="totalRecords"
        [actions]="actions"
        (pageChange)="handlePageChange($event)"
      ></app-tabla-generica>
    </mat-card-content>
  </mat-card>
</mat-drawer-container>


